html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #101010;
}

.logo {
  font-size: 2rem;
}

span {
  color: #f9004d;
}

li {
  padding: 0 0.5rem; 
  font-size: 1.1rem;
}

.linkedIn-logo {
  max-width: 1.75rem;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #f9004d !important;
}

.active {
  border-bottom: solid #f9004d;
}

.section {
  min-height: 100vh
}

.section:nth-child(even) {
  background-color: #101010;
}

.section:nth-child(odd) {
  background-color: #191919;
}

.section_img {
  width: 45rem;
  border-radius: 1.25rem;
}

.about_text_icons img {
  width: 4rem;
  padding: 1rem 0.5rem;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 95%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
  padding-bottom: 15px;
}

ul.timeline > li:before {
  content: ' ';
  background: #191919;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid white;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > a {
  color: #f9004d;
}

a:hover {
  text-decoration: none;
}

.date {
  float: right;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1.15rem;
  background-color: #f9004d;
  color: #fff;
  border-radius: 0.3rem;
  font-weight: 500;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 65%;
  color: #fff;
}

@media (max-height: 850px), (max-width: 767px) {
  .section {
    scroll-margin-top: 3.5rem;
  }
}

@media (max-width: 650px)  {
  .date {
    float: none;
    display: block;; 
  }
}